/* TT Norms Regular */
@font-face {
    font-display: swap;
    font-family: 'TTNorms';
    font-weight: 400;
    src: url('https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Regular.woff');
  }
  
  /* TT Norms Medium */
  @font-face {
    font-display: swap;
    font-family: 'TTNorms';
    font-weight: 500;
    src: url('https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Medium.woff');
  }
  
  /* TT Norms Bold */
  @font-face {
    font-display: swap;
    font-family: 'TTNorms';
    font-weight: 700;
    src: url('https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Bold.woff');
  }